.app-wrapper {
  max-width: 500px;
  min-height: 500px;
  margin: 50px auto;
  text-align: center;
  background: #fff;
}

h2 {
  padding: 1.5rem;
  background: #ff6f00;
  color: #fff;
}

.inputs {
  padding: 1rem;
}

select,
input,
button {
  margin: 1rem;
}

select {
  background-color: hsla(26, 100%, 50%, 0.5);
  height: 40px;
  width: 200px;
  font-family: inherit;
  padding: 0 0.5rem;
  border: none;
}

input {
  border: 1px solid #999;
  height: 40px;
  width: 400px;
  padding: 0 0.5rem;
  font-family: inherit;
}

button {
  background-color: teal;
  padding: 0.6rem 1.8rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

#btn-reload {
  background-color: #ff6f00;
}

.result-field {
  height: 100px;
}

footer {
  padding: 0.5rem 0;
  background-color: rgb(219, 219, 219);
}
