.app-wrapper {
  max-width: 500px;
  min-height: 450px;
  margin: 50px auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 0 5px #fff;
}

h2 {
  padding: 1.5rem;
  background: #ff6f00;
  color: #fff;
}

.inputs div {
  padding: 1rem;
  display: flex;
}

select,
input,
button {
  margin: 0.5rem;
  border-radius: 3px;
}

select {
  background-color: #e2e2e2;
  height: 40px;
  font-family: inherit;
  padding: 0 0.5rem;
  border: none;
}

input {
  border: 0.5px solid #999;
  height: 40px;
  width: 100%;
  padding: 0 0.5rem;
  font-family: inherit;
}

button {
  background-color: #ff6f00;
  padding: 0.7rem 2rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

#btn-reload {
  background-color: teal;
}

.result-field {
  height: 150px;
  padding: 1.5rem;
}

#result-text {
  padding: 1rem;
}

footer {
  padding: 0.5rem 0;
  background-color: teal;
  color: #fff;
}
